@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

// Karmy Premium po niemiecku w logo

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin radius {
    border-radius: 10px;
}

@mixin padding {
    padding: 50px 10%;
    @media (max-width: 1140px) {
        padding: 50px 5%;
    }
    @media (min-width: 1500px) {
        padding: 50px 15%;
    }
    @media (min-width: 1700px) {
        padding: 50px 20%;
    }
}

$white: #ffffff;
$black: #000000;
$primary: #2d3058;
$secondary: #f0f0f0;
$blue: #008bce;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-color: $secondary;
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

input,
a,
button {
    font-family: 'Poppins', sans-serif;
}

header {
    @media (max-width: 1000px) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    @include center;
    @include padding;
    width: 100%;
    position: relative;
    color: $primary;
    background-color: $white;

    img {
        @media (max-width: 1000px) {
            position: relative;
            left: 0;
            margin-bottom: 30px;
        }
        position: absolute;
        width: 200px;
        left: 50px;
        -webkit-user-drag: none;
        user-select: none;
    }

    div {
        text-align: center;
    }

    h1 {
        font-size: 34px;
        margin-bottom: 10px;
    }

    p {
        font-weight: 500;
    }
}

.hero-text {
    @include center;
    @include radius;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: $white;
    background-image: linear-gradient(135deg, $white 0%, $white 100%);
    color: $primary;
    margin: 30px 10%;
    padding: 30px;

    span {
        color: $blue;
        font-weight: 500;
    }

    @media (max-width: 1140px) {
        margin: 30px 5%;
    }
    @media (min-width: 1500px) {
        margin: 30px 15%;
    }
    @media (min-width: 1700px) {
        margin: 30px 20%;
    }
}

.presentations {
    @media (max-width: 1140px) {
        flex-direction: column;
    }
    @include padding;
    @include center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 100%;
    background-color: $secondary;

    div {
        @media (max-width: 1140px) {
            width: 100%;
            height: auto;
            margin-right: 0 !important;
            margin-left: 0 !important;
            &:first-child {
                margin-bottom: 30px;
            }
        }
        display: flex;
        align-items: center;
        flex-direction: column;
        width: calc(50% - 15px);
        &:first-child {
            margin-right: 15px;
        }
        &:last-child {
            margin-left: 15px;
        }

        .a-img {
            position: relative;

            img {
                @include radius;
                background-color: $primary;
                width: 100%;
                margin-bottom: 20px;
                -webkit-user-drag: none;
                user-select: none;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: $primary;
                z-index: 10;
            }
        }

        button {
            width: 100%;
            outline: none;
            border: none;
            color: $primary;
            background: none;
            margin-top: 10px;
            background: none;
            padding: 10px 15px;
            font-size: 18px;
            font-weight: 500;
            border-bottom: 3px solid $secondary;
            cursor: pointer;

            &:hover {
                transition: 150ms;
                border-bottom: 3px solid $primary;
            }
            &:active {
                transition: 150ms;
                transform: translateY(3px);
            }
        }
    }
}

.info-text {
    @include padding;
    @include center;
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: $white;
    background-image: linear-gradient(135deg, $primary 0%, #4a61ca 100%);

    span {
        @media (max-width: 1140px) {
            flex-direction: column;
            p {
                &:first-child {
                    margin-bottom: 30px;
                }
            }
        }
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }
}

.shop-wrapper {
    @include padding;
    @include center;
    flex-direction: column;
    width: 100%;
    background-color: $white;

    img {
        @media (max-width: 1140px) {
            width: 300px;
        }
        width: 400px;
    }

    button {
        outline: none;
        border: none;
        color: $primary;
        background: none;
        margin-top: 20px;
        background: none;
        padding: 10px 15px;
        font-size: 22px;
        font-weight: 500;
        border-bottom: 3px solid $white;
        cursor: pointer;

        &:hover {
            transition: 150ms;
            border-bottom: 3px solid $primary;
        }
        &:active {
            transition: 150ms;
            transform: translateY(3px);
        }
    }

    p {
        font-size: 18px;
        margin-top: 30px;
        text-align: center;
    }
}

.info-wrapper {
    @include padding;
    @include center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: $white;
    background-image: linear-gradient(135deg, $primary 0%, #4a61ca 100%);
    &.info-wrapper-alt {
        background-image: linear-gradient(135deg, $white 0%, $white 100%);
        color: $primary;
    }

    &.info-wrapper-alt-cream {
        @include radius;
        background-image: linear-gradient(135deg, $white 0%, $white 100%);
        color: $primary;
        margin: 30px 10%;
        padding: 30px 50px;
        @media (min-width: 1500px) {
            margin: 30px 15%;
        }
        @media (min-width: 1700px) {
            margin: 30px 20%;
        }

        span {
            color: $blue;
            font-weight: 500;
        }
    }

    img {
        margin-bottom: 30px;
        width: 150px;
        height: 200px;
        border-radius: 50%;
    }
}

.description {
    @include padding;
    width: 100%;
    background-color: $white;

    p {
        color: $primary;
        font-size: 20px;
        font-weight: 400;
        &:first-child {
            margin-bottom: 20px;
        }
        &:last-child {
            margin-top: 5px;
        }

        span {
            font-weight: 600;
            font-size: 26px;
            font-style: normal;
            color: $primary;
        }
    }

    span {
        font-size: 26px;
        font-style: italic;
        color: rgb(51, 51, 51);
    }
}

.wrapper {
    @include padding;
    width: 100%;
    background-image: linear-gradient(135deg, $primary 0%, #4a61ca 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    &.wrapper-alt {
        color: $primary;
        background-image: linear-gradient(135deg, $white 0%, $white 100%);
        padding-top: 0;
    }

    h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 40px;
    }

    ul {
        @media (max-width: 1140px) {
            grid-template-columns: repeat(auto-fit, minmax(100%, auto));
        }
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 30px), auto));
        grid-gap: 30px;
    }

    li {
        @include center;
        text-decoration: none;
        list-style-type: none;

        .circle {
            @include center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 20px;
            background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
            &.circle-alt {
                background-image: linear-gradient(135deg, #667eea 0%, $primary 100%);
                .fa-check {
                    color: $secondary;
                }
            }

            .fa-check {
                color: $primary;
                font-size: 30px;
            }
        }

        .flex-column {
            width: calc(100% - 100px);
        }

        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .content {
            display: flex;
            font-size: 15px;
        }
    }
}

footer {
    @include padding;
    @include center;
    flex-direction: column;
    text-align: center;
    padding: 30px 10%;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(135deg, $primary 0%, #4a61ca 100%);
    color: $white;

    .footer__p {
        margin-bottom: 10px;
        font-weight: 500;
    }

    span {
        margin-top: 5px;
        display: flex;
        align-items: center;
        i {
            margin-right: 5px;
        }
        p {
            margin-left: 5px;
        }
    }
}
